<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Web 1920 – 3</title>
	<link rel="stylesheet" type="text/css" id="applicationStylesheet" href="3.css" />
	<script id="applicationScript" type="text/javascript" src="3.js"></script>
</head>

<body>
	<div id="Web_1920__3">
		<svg class="Rectangle_7_l">
			<linearGradient id="Rectangle_7_l" spreadMethod="pad" x1="0.924" x2="-0.24" y1="0.052" y2="1.074">
				<stop offset="0" stop-color="#005677" stop-opacity="1"></stop>
				<stop offset="0.2844" stop-color="#005475" stop-opacity="1"></stop>
				<stop offset="0.9346" stop-color="#002432" stop-opacity="1"></stop>
				<stop offset="0.9803" stop-color="#00131b" stop-opacity="1"></stop>
				<stop offset="1" stop-color="#000a0e" stop-opacity="1"></stop>
			</linearGradient>
			<rect id="Rectangle_7_l" rx="0" ry="0" x="0" y="0" width="1920" height="1080">
			</rect>
		</svg>
		<div class="predicted-graph">
			<svg class="Rectangle_12">
				<rect id="Rectangle_12" rx="31" ry="31" x="0" y="0" width="1534" height="665">
				</rect>
			</svg>
		</div>

		<a href="#"><svg class="Rectangle_11">
				<rect id="Rectangle_11" rx="27.5" ry="27.5" x="0" y="0" width="253" height="55">
				</rect>
			</svg>
		</a>

		<div id="Download_Here">
			<span>Download Here</span>
		</div>
		<div id="Group_2">
			<svg class="Rectangle_1">
				<rect id="Rectangle_1" rx="0" ry="0" x="0" y="0" width="1920" height="65">
				</rect>
			</svg>
			<div id="Home">
				<span>Home</span>
			</div>
			<div id="Overview">
				<span>Overview</span>
			</div>
			<div id="Pre-Pandemic">
				<span>Pre-Pandemic</span>
			</div>
			<div id="Forecast">
				<span>Forecast</span>
			</div>
			<div id="Life_in_Pandemic">
				<span>Life in Pandemic</span>
			</div>
			<div id="About_Us">
				<span>About Us</span>
			</div>
		</div>
	</div>
</body>

</html>
