.mediaViewInfo {
	--web-view-name: Web 1920 – 4;
	--web-view-id: Web_1920__4;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Web_1920__4;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;

}
#Web_1920__4 {
	position: absolute;
	width: 1920px;
	height: 6462px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Web 1920 – 4;
	--web-view-id: Web_1920__4;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
#Union_2_l {
	fill: url(#Union_2_l);
}
.Union_2_l {
	overflow: visible;
	position: absolute;
	width: 1920px;
	height: 6462.001px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_16 {
	opacity: 0.1;
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_16 {
	position: absolute;
	overflow: visible;
	width: 808px;
	height: 471px;
	left: 98px;
	top: 276px;
}
#Group_2 {
	position: absolute;
	width: 1920px;
	height: 1080px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_5_p {
	fill: url(#Path_5_p);
}
.Path_5_p {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.529));
	overflow: visible;
	position: absolute;
	width: 1938px;
	height: 18px;
	left: 0px;
	top: 1080px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_2_q {
	position: absolute;
	width: 1920px;
	height: 65px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_1 {
	fill: rgba(0,38,59,1);
}
.Rectangle_1 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.702));
	position: absolute;
	overflow: visible;
	width: 1938px;
	height: 83px;
	left: 0px;
	top: 0px;
}
#Home {
	opacity: 0.7;
	left: 951px;
	top: 19px;
	position: absolute;
	overflow: visible;
	width: 55px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Overview {
	opacity: 0.7;
	left: 1069px;
	top: 19px;
	position: absolute;
	overflow: visible;
	width: 82px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Pre-Pandemic {
	opacity: 0.7;
	left: 1211px;
	top: 19px;
	position: absolute;
	overflow: visible;
	width: 123px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Forecast {
	opacity: 0.7;
	left: 1599px;
	top: 19px;
	position: absolute;
	overflow: visible;
	width: 75px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Life_in_Pandemic {
	left: 1394px;
	top: 19px;
	position: absolute;
	overflow: visible;
	width: 156px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#About_Us {
	opacity: 0.7;
	left: 1734px;
	top: 19px;
	position: absolute;
	overflow: visible;
	width: 83px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Group_8 {
	opacity: 0.5;
	position: absolute;
	width: 216px;
	height: 20px;
	left: 852px;
	top: 919px;
	overflow: visible;
}
#Ellipse_1 {
	fill: rgba(255,255,255,1);
}
.Ellipse_1 {
	position: absolute;
	overflow: visible;
	width: 20px;
	height: 20px;
	left: 0px;
	top: 0px;
}
#Ellipse_2 {
	fill: rgba(255,255,255,1);
}
.Ellipse_2 {
	position: absolute;
	overflow: visible;
	width: 20px;
	height: 20px;
	left: 49px;
	top: 0px;
}
#Ellipse_4 {
	fill: rgba(255,255,255,1);
}
.Ellipse_4 {
	position: absolute;
	overflow: visible;
	width: 20px;
	height: 20px;
	left: 99px;
	top: 0px;
}
#Ellipse_5 {
	fill: rgba(255,255,255,1);
}
.Ellipse_5 {
	position: absolute;
	overflow: visible;
	width: 20px;
	height: 20px;
	left: 196px;
	top: 0px;
}
#Ellipse_6 {
	fill: rgba(255,255,255,1);
}
.Ellipse_6 {
	position: absolute;
	overflow: visible;
	width: 20px;
	height: 20px;
	left: 147px;
	top: 0px;
}
#Union_3 {
	opacity: 0.1;
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Union_3 {
	filter: drop-shadow(0px 5px 6px rgba(0, 0, 0, 0.161));
	overflow: visible;
	position: absolute;
	width: 1734px;
	height: 1014.001px;
	left: 102px;
	top: 1111px;
	transform: matrix(1,0,0,1,0,0);
}
#Nitrogen_Level {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.702));
	left: 185px;
	top: 1117px;
	position: absolute;
	overflow: visible;
	width: 233px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	color: rgba(255,255,255,1);
}
#Union_4 {
	opacity: 0.1;
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Union_4 {
	overflow: visible;
	position: absolute;
	width: 1716px;
	height: 995.695px;
	left: 102px;
	top: 2471px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_9 {
	opacity: 0.5;
	position: absolute;
	width: 216px;
	height: 20px;
	left: 852px;
	top: 2279px;
	overflow: visible;
}
#Ellipse_1_ {
	fill: rgba(255,255,255,1);
}
.Ellipse_1_ {
	position: absolute;
	overflow: visible;
	width: 20px;
	height: 20px;
	left: 0px;
	top: 0px;
}
#Ellipse_2_ {
	fill: rgba(255,255,255,1);
}
.Ellipse_2_ {
	position: absolute;
	overflow: visible;
	width: 20px;
	height: 20px;
	left: 49px;
	top: 0px;
}
#Ellipse_4_ba {
	fill: rgba(255,255,255,1);
}
.Ellipse_4_ba {
	position: absolute;
	overflow: visible;
	width: 20px;
	height: 20px;
	left: 99px;
	top: 0px;
}
#Ellipse_5_bb {
	fill: rgba(255,255,255,1);
}
.Ellipse_5_bb {
	position: absolute;
	overflow: visible;
	width: 20px;
	height: 20px;
	left: 196px;
	top: 0px;
}
#Ellipse_6_bc {
	fill: rgba(255,255,255,1);
}
.Ellipse_6_bc {
	position: absolute;
	overflow: visible;
	width: 20px;
	height: 20px;
	left: 147px;
	top: 0px;
}
#Sulphur_Level {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.702));
	left: 188px;
	top: 2477px;
	position: absolute;
	overflow: visible;
	width: 214px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	color: rgba(255,255,255,1);
}
#Group_10 {
	opacity: 0.5;
	position: absolute;
	width: 216px;
	height: 20px;
	left: 852px;
	top: 3613px;
	overflow: visible;
}
#Ellipse_1_bf {
	fill: rgba(255,255,255,1);
}
.Ellipse_1_bf {
	position: absolute;
	overflow: visible;
	width: 20px;
	height: 20px;
	left: 0px;
	top: 0px;
}
#Ellipse_2_bg {
	fill: rgba(255,255,255,1);
}
.Ellipse_2_bg {
	position: absolute;
	overflow: visible;
	width: 20px;
	height: 20px;
	left: 49px;
	top: 0px;
}
#Ellipse_4_bh {
	fill: rgba(255,255,255,1);
}
.Ellipse_4_bh {
	position: absolute;
	overflow: visible;
	width: 20px;
	height: 20px;
	left: 99px;
	top: 0px;
}
#Ellipse_5_bi {
	fill: rgba(255,255,255,1);
}
.Ellipse_5_bi {
	position: absolute;
	overflow: visible;
	width: 20px;
	height: 20px;
	left: 196px;
	top: 0px;
}
#Ellipse_6_bj {
	fill: rgba(255,255,255,1);
}
.Ellipse_6_bj {
	position: absolute;
	overflow: visible;
	width: 20px;
	height: 20px;
	left: 147px;
	top: 0px;
}
#Union_5 {
	opacity: 0.1;
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Union_5 {
	overflow: visible;
	position: absolute;
	width: 1716px;
	height: 996px;
	left: 102px;
	top: 3809px;
	transform: matrix(1,0,0,1,0,0);
}
#Sulphur_Level_bl {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.702));
	left: 189px;
	top: 3816px;
	position: absolute;
	overflow: visible;
	width: 214px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	color: rgba(255,255,255,1);
}
#Group_11 {
	opacity: 0.5;
	position: absolute;
	width: 216px;
	height: 20px;
	left: 852px;
	top: 4947px;
	overflow: visible;
}
#Ellipse_1_bn {
	fill: rgba(255,255,255,1);
}
.Ellipse_1_bn {
	position: absolute;
	overflow: visible;
	width: 20px;
	height: 20px;
	left: 0px;
	top: 0px;
}
#Ellipse_2_bo {
	fill: rgba(255,255,255,1);
}
.Ellipse_2_bo {
	position: absolute;
	overflow: visible;
	width: 20px;
	height: 20px;
	left: 49px;
	top: 0px;
}
#Ellipse_4_bp {
	fill: rgba(255,255,255,1);
}
.Ellipse_4_bp {
	position: absolute;
	overflow: visible;
	width: 20px;
	height: 20px;
	left: 99px;
	top: 0px;
}
#Ellipse_5_bq {
	fill: rgba(255,255,255,1);
}
.Ellipse_5_bq {
	position: absolute;
	overflow: visible;
	width: 20px;
	height: 20px;
	left: 196px;
	top: 0px;
}
#Ellipse_6_br {
	fill: rgba(255,255,255,1);
}
.Ellipse_6_br {
	position: absolute;
	overflow: visible;
	width: 20px;
	height: 20px;
	left: 147px;
	top: 0px;
}
#Group_12 {
	opacity: 0;
	position: absolute;
	width: 216px;
	height: 20px;
	left: 852px;
	top: 3613px;
	overflow: visible;
}
#Ellipse_1_bt {
	fill: rgba(255,255,255,1);
}
.Ellipse_1_bt {
	position: absolute;
	overflow: visible;
	width: 20px;
	height: 20px;
	left: 0px;
	top: 0px;
}
#Ellipse_2_bu {
	fill: rgba(255,255,255,1);
}
.Ellipse_2_bu {
	position: absolute;
	overflow: visible;
	width: 20px;
	height: 20px;
	left: 49px;
	top: 0px;
}
#Ellipse_4_bv {
	fill: rgba(255,255,255,1);
}
.Ellipse_4_bv {
	position: absolute;
	overflow: visible;
	width: 20px;
	height: 20px;
	left: 99px;
	top: 0px;
}
#Ellipse_5_bw {
	fill: rgba(255,255,255,1);
}
.Ellipse_5_bw {
	position: absolute;
	overflow: visible;
	width: 20px;
	height: 20px;
	left: 196px;
	top: 0px;
}
#Ellipse_6_bx {
	fill: rgba(255,255,255,1);
}
.Ellipse_6_bx {
	position: absolute;
	overflow: visible;
	width: 20px;
	height: 20px;
	left: 147px;
	top: 0px;
}
#Union_6 {
	opacity: 0.1;
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Union_6 {
	overflow: visible;
	position: absolute;
	width: 1716px;
	height: 996px;
	left: 102px;
	top: 5143px;
	transform: matrix(1,0,0,1,0,0);
}
#Sulphur_Level_bz {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.702));
	left: 192px;
	top: 5149px;
	position: absolute;
	overflow: visible;
	width: 214px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	color: rgba(255,255,255,1);
}
#Rectangle_28 {
	fill: rgba(0,0,0,1);
}
.Rectangle_28 {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 137px;
	left: 0px;
	top: 6325px;
}
#With_love {
	opacity: 0.5;
	left: 918px;
	top: 6367px;
	position: absolute;
	overflow: visible;
	width: 85px;
	white-space: nowrap;
	line-height: 106px;
	margin-top: -43px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Made_by_Team_Underdogs {
	opacity: 0.5;
	left: 844px;
	top: 6396px;
	position: absolute;
	overflow: visible;
	width: 234px;
	white-space: nowrap;
	line-height: 106px;
	margin-top: -43px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Life_In_Pandemic {
	left: 352px;
	top: 464px;
	position: absolute;
	overflow: visible;
	width: 260px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	color: rgba(255,255,255,1);
}
#Metropolises_like_Delhi_Mumbai {
	left: 185px;
	top: 1423px;
	position: absolute;
	overflow: visible;
	width: 615px;
	white-space: nowrap;
	line-height: 42px;
	margin-top: -8.5px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Metropolises_like_Delhi_Mumbai_b {
	left: 189px;
	top: 2800px;
	position: absolute;
	overflow: visible;
	width: 615px;
	white-space: nowrap;
	line-height: 42px;
	margin-top: -8.5px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Metropolises_like_Delhi_Mumbai_ca {
	left: 192px;
	top: 4154px;
	position: absolute;
	overflow: visible;
	width: 615px;
	white-space: nowrap;
	line-height: 42px;
	margin-top: -8.5px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Metropolises_like_Delhi_Mumbai_cb {
	left: 192px;
	top: 5442px;
	position: absolute;
	overflow: visible;
	width: 615px;
	white-space: nowrap;
	line-height: 42px;
	margin-top: -8.5px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Rectangle_29 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_29 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.62));
	position: absolute;
	overflow: visible;
	width: 775px;
	height: 884px;
	left: 1023px;
	top: 1202px;
}
#Rectangle_30 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_30 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.651));
	position: absolute;
	overflow: visible;
	width: 775px;
	height: 884px;
	left: 1023px;
	top: 2563px;
}
#Rectangle_31 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_31 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.71));
	position: absolute;
	overflow: visible;
	width: 775px;
	height: 884px;
	left: 1023px;
	top: 3902px;
}
#Rectangle_32 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_32 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.678));
	position: absolute;
	overflow: visible;
	width: 775px;
	height: 884px;
	left: 1023px;
	top: 5235px;
}
/*
#wrapper1 {
	left: 1153px;
	top: 1309px;
	position: absolute;
	overflow: visible;
	width: 72px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(112,112,112,1);
}
*/
.wrapper1{
  position: relative;
  height: 838px;
  width: 761px;
  overflow: hidden;
  background: #fff;
  border: 7px solid #fff;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.15);
}
.wrapper1 .images1{
  height: 100%;
  width: 100%;
  display: flex;
}
.wrapper1 .images1 .img-11{
  height: 100%;
  width: 100%;
  background: url("1.before.png") no-repeat;
}
.wrapper1 .images1 .img-12{
  position: absolute;
  height: 100%;
  width: 50%;
  /* filter: blur(5px); */
  background: url("1.after.png") no-repeat;
}
.wrapper1 .slider1{
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 99;
}
.wrapper1 .slider1 input{
  width: 100%;
  outline: none;
  background: none;
  -webkit-appearance: none;
}
.slider1 input::-webkit-slider-thumb{
  height: 486px;
  width: 3px;
  background: none;
  -webkit-appearance: none;
  cursor: col-resize;
}
.slider1 .drag-line1{
  width: 3px;
  height: 836px;
  position: absolute;
  left: 49.85%;
  pointer-events: none;
}
.slider1 .drag-line1::before,
.slider1 .drag-line1::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 398px;
  background: #fff;
}
.slider1 .drag-line1::before{
  top: 0;
}
.slider1 .drag-line1::after{
  bottom: 0;
}
.slider1 .drag-line1 span{
  height: 42px;
  width: 42px;
  border: 3px solid #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.slider1 .drag-line1 span::before,
.slider1 .drag-line1 span::after{
  position: absolute;
  content: "";
  top: 50%;
  border: 10px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  transform: translate(-50%, -50%) rotate(45deg);
}
.slider1 .drag-line1 span::before{
  left: 40%;
  border-left-color: #fff;
}
.slider1 .drag-line1 span::after{
  left: 60%;
  border-top-color: #fff;
}
.wrapper1 {
    left: 1033px;
	top: 1215px;
}



/*
#image_1_cd {
	left: 1153px;
	top: 2680px;
	position: absolute;
	overflow: visible;
	width: 72px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(112,112,112,1);
}
*/
.wrapper2{
  position: relative;
  height: 818px;
  width: 713px;
  overflow: hidden;
  background: #fff;
  border: 7px solid #fff;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.15);
}
.wrapper2 .images2{
  height: 100%;
  width: 100%;
  display: flex;
}
.wrapper2 .images2 .img-21{
  height: 100%;
  width: 100%;
  background: url("2.before.png") no-repeat;
}
.wrapper2 .images2 .img-22{
  position: absolute;
  height: 100%;
  width: 50%;
  /* filter: blur(5px); */
  background: url("2.after.png") no-repeat;
}
.wrapper2 .slider2{
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 99;
}
.wrapper2 .slider2 input{
  width: 100%;
  outline: none;
  background: none;
  -webkit-appearance: none;
}
.slider2 input::-webkit-slider-thumb{
  height: 486px;
  width: 3px;
  background: none;
  -webkit-appearance: none;
  cursor: col-resize;
}
.slider2 .drag-line2{
  width: 3px;
  height: 836px;
  position: absolute;
  left: 49.85%;
  pointer-events: none;
}
.slider2 .drag-line2::before,
.slider2 .drag-line2::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 398px;
  background: #fff;
}
.slider2 .drag-line2::before{
  top: 0;
}
.slider2 .drag-line2::after{
  bottom: 0;
}
.slider2 .drag-line2 span{
  height: 42px;
  width: 42px;
  border: 3px solid #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.slider2 .drag-line2 span::before,
.slider2 .drag-line2 span::after{
  position: absolute;
  content: "";
  top: 50%;
  border: 10px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  transform: translate(-50%, -50%) rotate(45deg);
}
.slider2 .drag-line2 span::before{
  left: 40%;
  border-left-color: #fff;
}
.slider2 .drag-line2 span::after{
  left: 60%;
  border-top-color: #fff;
}
.wrapper2 {
    left: 1045px;
	top: 1738px;
}



#image_1_ce {
	left: 1163px;
	top: 4127px;
	position: absolute;
	overflow: visible;
	width: 72px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(112,112,112,1);
}
#image_1_cf {
	left: 1163px;
	top: 5373px;
	position: absolute;
	overflow: visible;
	width: 72px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(112,112,112,1);
}
#For_Animation {
	left: 1000px;
	top: 250px;
	position: absolute;
	overflow: visible;
	width: 42%;
	height: 8%;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	color: rgba(255,255,255,1);
	background-color: #005677;
}

.virus1 {
  position: absolute;
  top: 130px;
  left: 300px;
  animation-name: virus1;
  animation-iteration-count: infinite;
  animation-duration: 15s;
  animation-timing-function: linear;
}


@keyframes virus1 {
0%   {width: 216px; height: 216px; transform: rotate(0deg);}
25%  {width: 216px; height: 216px; transform: rotate(90deg);}
50%  {width: 216px; height: 216px; transform: rotate(180deg);}
75%  {width: 216px; height: 216px; transform: rotate(270deg);}
100% {width: 216px; height: 216px; transform: rotate(360deg);}
}

.virus2 {
  position: absolute;
  top: 120px;
  left: 230px;
  animation-name: virus2;
  animation-duration: 4.3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}


@keyframes virus2 {
0%   {width: 64px; height: 64px; left: 230px; top: 120px; transform: rotate(0deg);}
25%  {width: 94px; height: 94px; left:170px; top: 80px; transform: rotate(90deg);}
50%  {width: 124px; height: 124px; left:110px; top: 40px; transform: rotate(180deg);}
75%  {width: 94px; height: 94px; left: 170px; top: 80px; transform: rotate(270deg);}
100% {width: 64px; height: 64px; left: 230px; top: 120px; transform: rotate(360deg);}
}

.virus3 {
  position: absolute;
  top: 120px;
  right: 210px;
  animation-name: virus3;
  animation-duration: 6.3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes virus3 {
0%   {width: 64px; height: 64px; right: 210px; top: 120px; transform: rotate(0deg);}
25%  {width: 94px; height: 94px; right:150px; top: 80px; transform: rotate(90deg);}
50%  {width: 124px; height: 124px; right:90px; top: 40px; transform: rotate(180deg);}
75%  {width: 94px; height: 94px; right: 150px; top: 80px; transform: rotate(270deg);}
100% {width: 64px; height: 64px; right: 210px; top: 120px; transform: rotate(360deg);}
}

.virus4 {
	position: absolute;
  top: 290px;
  left: 230px;
  animation-name: virus4;
  animation-duration: 10.3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes virus4 {
0%   {width: 64px; height: 64px; left: 230px; top: 290px; transform: rotate(0deg);}
25%  {width: 94px; height: 94px; left:170px; top: 330px; transform: rotate(90deg);}
50%  {width: 124px; height: 124px; left:110px; top: 370px; transform: rotate(180deg);}
75%  {width: 94px; height: 94px; left: 170px; top: 330px; transform: rotate(270deg);}
100% {width: 64px; height: 64px; left: 230px; top: 290px; transform: rotate(360deg);}
}

.virus5 {
	position: absolute;
  top: 290px;
  right: 210px;
  animation-name: virus5;
  animation-duration: 8.3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes virus5 {
0%   {width: 64px; height: 64px; right: 210px; top: 290px; transform: rotate(0deg);}
25%  {width: 94px; height: 94px; right:150px; top: 330px; transform: rotate(90deg);}
50%  {width: 124px; height: 124px; right:90px; top: 370px; transform: rotate(180deg);}
75%  {width: 94px; height: 94px; right: 150px; top: 330px; transform: rotate(270deg);}
100% {width: 64px; height: 64px; right: 210px; top: 290px; transform: rotate(360deg);}
}

a:link{
    color: white;
    background-color: transparent;
    text-decoration: none;
}
a:visited{
    color: white;
    background-color: transparent;
    text-decoration: none;
}
a:hover{
    color: white;
    opacity: 0.4;
    background-color: transparent;
    text-decoration: none;
}
a:active{
    color: white;
    background-color: transparent;
    text-decoration: none;
}
