

#Web_1920__1 {
    background-image: url("WhatsApp_Image_2021-04-01_at_1.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.mediaViewInfo {
	--web-view-name: Web 1920 – 1;
	--web-view-id: Web_1920__1;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Web_1920__1;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Web_1920__1 {
	position: absolute;
	width: 1920px;
	height: 6003px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Web 1920 – 1;
	--web-view-id: Web_1920__1;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#WhatsApp_Image_2021-04-01_at_1 {
	position: absolute;
	width: 2221px;
	height: 1169.062px;
	left: 0px;
	top: -93px;
	overflow: visible;
}
#Air_Pollution {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.329));
	left: 100px;
	top: 368px;
	position: absolute;
	overflow: visible;
	width: 512px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 120px;
	color: rgba(255,255,255,1);
}
#Rectangle_2 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_2 {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 3805px;
	left: 0px;
	top: 1076px;
}
#Union_1_o {
	fill: url(#Union_1_o);
}
.Union_1_o {
	overflow: visible;
	position: absolute;
	width: 1920px;
	height: 3798.001px;
	left: 0px;
	top: 2068px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_13 {
	opacity: 0.1;
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_13 {
	position: absolute;
	overflow: visible;
	width: 1668px;
	height: 621px;
	left: 152px;
	top: 2543px;
}
#Rectangle_14 {
	opacity: 0.1;
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_14 {
	position: absolute;
	overflow: visible;
	width: 1668px;
	height: 718px;
	left: 100px;
	top: 3680px;
}
#Rectangle_15 {
	opacity: 0.1;
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_15 {
	position: absolute;
	overflow: visible;
	width: 1668px;
	height: 663px;
	left: 152px;
	top: 4993px;
}
#Rectangle_4 {
	opacity: 0.4;
	fill: rgba(255,255,255,1);
}
.Rectangle_4 {
	position: absolute;
	overflow: visible;
	width: 666px;
	height: 4px;
	left: 100px;
	top: 1954px;
}

#section_22 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.78));
	position: absolute;
	width: 930px;
	height: 930px;
	left: 100px;
	top: 3502px;
	overflow: visible;
}
#section_21 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.812));
	position: absolute;
	width: 930px;
	height: 930px;
	left: 100px;
	top: 3502px;
	overflow: visible;
}
#Section_31 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.749));
	position: absolute;
	width: 930px;
	height: 930px;
	left: 890px;
	top: 4753px;
	overflow: visible;
}
#Visualizing_Indias_Pollution_L {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.478));
	left: 152px;
	top: 2256px;
	position: absolute;
	overflow: visible;
	width: 590px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 64px;
	color: rgba(255,255,255,1);
}
#Group_2 {
	position: fixed;
    width: 1920px;
    height: 65px;
	left: 0px;
    top: 0px;
    overflow: visible;
}
#Rectangle_1 {
	opacity: 0.3;
	fill: rgba(0,38,59,1);
}
.Rectangle_1 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.702));
	position: absolute;
	overflow: visible;
	width: 1938px;
	height: 83px;
	left: 0px;
	top: 0px;
}
#Home {
	left: 951px;
	top: 19px;
	position: absolute;
	overflow: visible;
	width: 58px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Overview {
	opacity: 0.7;
	left: 1069px;
	top: 19px;
	position: absolute;
	overflow: visible;
	width: 82px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Pre-Pandemic {
	opacity: 0.7;
	left: 1211px;
	top: 19px;
	position: absolute;
	overflow: visible;
	width: 123px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Forecast {
	opacity: 0.7;
	left: 1599px;
	top: 19px;
	position: absolute;
	overflow: visible;
	width: 75px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: 2.html;
	cursor: pointer;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Life_in_Pandemic {
	opacity: 0.7;
	left: 1394px;
	top: 19px;
	position: absolute;
	overflow: visible;
	width: 145px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Web_1920___4.html;
	cursor: pointer;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#About_Us {
	opacity: 0.7;
	left: 1734px;
	top: 19px;
	position: absolute;
	overflow: visible;
	width: 83px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Web_1920___5.html;
	cursor: pointer;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
a:link{
    color: white;
    background-color: transparent;
    text-decoration: none;
}
a:visited{
    color: white;
    background-color: transparent;
    text-decoration: none;
}
a:hover{
    color: white;
    opacity: 0.4;
    background-color: transparent;
    text-decoration: none;
}
a:active{
    color: white;
    background-color: transparent;
    text-decoration: none;
}


#Group_3 {
	opacity: 0.5;
	position: absolute;
	width: 216px;
	height: 20px;
	left: 839px;
	top: 3328px;
	overflow: visible;
}
#Ellipse_1 {
	fill: rgba(255,255,255,1);
}
.Ellipse_1 {
	position: absolute;
	overflow: visible;
	width: 20px;
	height: 20px;
	left: 0px;
	top: 0px;
}
#Ellipse_2 {
	fill: rgba(255,255,255,1);
}
.Ellipse_2 {
	position: absolute;
	overflow: visible;
	width: 20px;
	height: 20px;
	left: 49px;
	top: 0px;
}
#Ellipse_4 {
	fill: rgba(255,255,255,1);
}
.Ellipse_4 {
	position: absolute;
	overflow: visible;
	width: 20px;
	height: 20px;
	left: 99px;
	top: 0px;
}
#Ellipse_5 {
	fill: rgba(255,255,255,1);
}
.Ellipse_5 {
	position: absolute;
	overflow: visible;
	width: 20px;
	height: 20px;
	left: 196px;
	top: 0px;
}
#Ellipse_6 {
	fill: rgba(255,255,255,1);
}
.Ellipse_6 {
	position: absolute;
	overflow: visible;
	width: 20px;
	height: 20px;
	left: 147px;
	top: 0px;
}
#Group_4 {
	opacity: 0.5;
	position: absolute;
	width: 216px;
	height: 20px;
	left: 852px;
	top: 4602px;
	overflow: visible;
}
#Ellipse_1_be {
	fill: rgba(255,255,255,1);
}
.Ellipse_1_be {
	position: absolute;
	overflow: visible;
	width: 20px;
	height: 20px;
	left: 0px;
	top: 0px;
}
#Ellipse_2_bf {
	fill: rgba(255,255,255,1);
}
.Ellipse_2_bf {
	position: absolute;
	overflow: visible;
	width: 20px;
	height: 20px;
	left: 49px;
	top: 0px;
}
#Ellipse_4_bg {
	fill: rgba(255,255,255,1);
}
.Ellipse_4_bg {
	position: absolute;
	overflow: visible;
	width: 20px;
	height: 20px;
	left: 99px;
	top: 0px;
}
#Ellipse_5_bh {
	fill: rgba(255,255,255,1);
}
.Ellipse_5_bh {
	position: absolute;
	overflow: visible;
	width: 20px;
	height: 20px;
	left: 196px;
	top: 0px;
}
#Ellipse_6_bi {
	fill: rgba(255,255,255,1);
}
.Ellipse_6_bi {
	position: absolute;
	overflow: visible;
	width: 20px;
	height: 20px;
	left: 147px;
	top: 0px;
}
#scroll {
	position: absolute;
	width: 45.546px;
	height: 45.546px;
	left: 937.227px;
	top: 1015.454px;
	overflow: visible;
}
#Path_1 {
	opacity: 0.2;
	fill: transparent;
}
.Path_1 {
	overflow: visible;
	position: absolute;
	width: 45.546px;
	height: 45.546px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_1 {
	position: absolute;
	width: 13.484px;
	height: 31.028px;
	left: 16.031px;
	top: 7.259px;
	overflow: visible;
}
#Path_2 {
	fill: rgba(213,213,213,1);
}
.Path_2 {
	overflow: visible;
	position: absolute;
	width: 13.484px;
	height: 7.115px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_3 {
	fill: rgba(213,213,213,1);
}
.Path_3 {
	overflow: visible;
	position: absolute;
	width: 13.484px;
	height: 7.115px;
	left: 0px;
	top: 23.914px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4 {
	fill: rgba(213,213,213,1);
}
.Path_4 {
	overflow: visible;
	position: absolute;
	width: 8.677px;
	height: 8.677px;
	left: 2.343px;
	top: 11.116px;
	transform: matrix(1,0,0,1,0,0);
}
#Intro {
	opacity: 0.68;
	left: 42.8%;
	top: 1120px;
	position: absolute;
	overflow: visible;
	width: 136px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 64px;
	color: rgba(1,1,1,1);
}
#Metropolises_like_Delhi_Mumbai {
	left: 225px;
	top: 2627px;
	position: absolute;
	overflow: visible;
	width: 615px;
	white-space: nowrap;
	line-height: 42px;
	margin-top: -8.5px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Rectangle_8 {
	fill: rgba(0,0,0,1);
}
.Rectangle_8 {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 137px;
	left: 0px;
	top: 5866px;
}
#Group_5 {
	opacity: 0.5;
	position: absolute;
	width: 34px;
	height: 34px;
	left: 1760px;
	top: 2704px;
	overflow: visible;
}
#Ellipse_7 {
	fill: rgba(203,203,203,1);
}
.Ellipse_7 {
	position: absolute;
	overflow: visible;
	width: 34px;
	height: 34px;
	left: 0px;
	top: 0px;
}
#Line_1 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_1 {
	overflow: visible;
	position: absolute;
	width: 14.016px;
	height: 16.017px;
	left: 14.5px;
	top: 8.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_2 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_2 {
	overflow: visible;
	position: absolute;
	width: 14.016px;
	height: 16.017px;
	left: 14.5px;
	top: 17.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_6 {
	opacity: 0.5;
	position: absolute;
	width: 34px;
	height: 34px;
	left: 986px;
	top: 3920px;
	overflow: visible;
}
#Ellipse_7_bx {
	fill: rgba(203,203,203,1);
}
.Ellipse_7_bx {
	position: absolute;
	overflow: visible;
	width: 34px;
	height: 34px;
	left: 0px;
	top: 0px;
}
#Line_1_by {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_1_by {
	overflow: visible;
	position: absolute;
	width: 14.016px;
	height: 16.017px;
	left: 14.5px;
	top: 8.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_2_bz {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_2_bz {
	overflow: visible;
	position: absolute;
	width: 14.016px;
	height: 16.017px;
	left: 14.5px;
	top: 17.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_7 {
	opacity: 0.5;
	position: absolute;
	width: 34px;
	height: 34px;
	left: 1773px;
	top: 5201px;
	overflow: visible;
}
#Ellipse_7_b {
	fill: rgba(203,203,203,1);
}
.Ellipse_7_b {
	position: absolute;
	overflow: visible;
	width: 34px;
	height: 34px;
	left: 0px;
	top: 0px;
}
#Line_1_b {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_1_b {
	overflow: visible;
	position: absolute;
	width: 14.016px;
	height: 16.017px;
	left: 14.5px;
	top: 8.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_2_b {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_2_b {
	overflow: visible;
	position: absolute;
	width: 14.016px;
	height: 16.017px;
	left: 14.5px;
	top: 17.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Analyzing_Seasonality_through_ {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.478));
	left: 1158px;
	top: 3502px;
	position: absolute;
	overflow: visible;
	width: 611px;
	white-space: nowrap;
	text-align: right;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 64px;
	color: rgba(255,255,255,1);
}
#For_most_metrics_we_can_see_th {
	left: 1088px;
	top: 3792px;
	position: absolute;
	overflow: visible;
	width: 621px;
	white-space: nowrap;
	line-height: 42px;
	margin-top: -8.5px;
	text-align: right;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#On_23rd_March_202_the_governme {
	left: 113px;
	top: 1264px;
	position: absolute;
	overflow: visible;
	width: 1695px;
	white-space: nowrap;
	line-height: 42px;
	margin-top: -8.5px;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(0,0,0,1);
}
#Breaking_down_the_Air_Quality_ {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.478));
	left: 173px;
	top: 4753px;
	position: absolute;
	overflow: visible;
	width: 531px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 64px;
	color: rgba(255,255,255,1);
}
#Delhi_and_Lucknow_have_consist {
	left: 225px;
	top: 5086px;
	position: absolute;
	overflow: visible;
	width: 594px;
	white-space: nowrap;
	line-height: 42px;
	margin-top: -8.5px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#With_Love {
	opacity: 0.5;
	left: 916px;
	top: 5908px;
	position: absolute;
	overflow: visible;
	width: 89px;
	white-space: nowrap;
	line-height: 106px;
	margin-top: -43px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Made_by_Team_Underdogs {
	opacity: 0.5;
	left: 844px;
	top: 5937px;
	position: absolute;
	overflow: visible;
	width: 234px;
	white-space: nowrap;
	line-height: 106px;
	margin-top: -43px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Section_32 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.729));
	position: absolute;
	width: 930px;
	height: 930px;
	left: 890px;
	top: 4753px;
	overflow: visible;
}


#carouselExampleControls {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.761));
    position: absolute;
    width: 930px;
	height: 930px;
    left: 890px;
    top: 2256px;
    overflow: visible;
}