<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Web 1920 – 2</title>
	<link rel="stylesheet" type="text/css" id="applicationStylesheet" href="{{ url_for('static', filename='style/2.css')}}" />
	<script id="applicationScript" type="text/javascript" src="{{ url_for('static', filename='scripts/2.js')}}"></script>
</head>

<body>
	<div id="Web_1920__2">
		<div id="Group_2">
			<svg class="Rectangle_7_m">
				<linearGradient id="Rectangle_7_m" spreadMethod="pad" x1="0.924" x2="-0.24" y1="0.052" y2="1.074">
					<stop offset="0" stop-color="#005677" stop-opacity="1"></stop>
					<stop offset="0.2844" stop-color="#005475" stop-opacity="1"></stop>
					<stop offset="0.9346" stop-color="#002432" stop-opacity="1"></stop>
					<stop offset="0.9803" stop-color="#00131b" stop-opacity="1"></stop>
					<stop offset="1" stop-color="#000a0e" stop-opacity="1"></stop>
				</linearGradient>
				<rect id="Rectangle_7_m" rx="0" ry="0" x="0" y="0" width="1920" height="1080">
				</rect>
			</svg>
		</div>
		<svg class="Rectangle_9">
			<rect id="Rectangle_9" rx="27.5" ry="27.5" x="0" y="0" width="551" height="55">
			</rect>
		</svg>
		<svg class="Rectangle_10">
			<rect id="Rectangle_10" rx="27.5" ry="27.5" x="0" y="0" width="253" height="55">
			</rect>
		</svg>
		<svg class="Rectangle_11">
			<rect id="Rectangle_11" rx="27.5" ry="27.5" x="0" y="0" width="253" height="55">
			</rect>
		</svg>
		<svg class="Rectangle_12">
				<rect id="Rectangle_12" rx="27.5" ry="27.5" x="0" y="0" width="253" height="55">
				</rect>
			</svg>
			<form class="input" method="post"> 
				<div id="State">
					<select id="cities" name="cities">
						<option value="kolkata">Kolkata</option>
						<option value="chennai">Chennai</option>
						<option value="delhi">Delhi</option>
						<option value="mumbai">Mumbai</option>
						<option value="hyderabad">Hyderabad</option>
					</select>
					<input type="submit" name="" value="submit">
				</div>
				<div id="From_DDMMYYYY">
					<input type="date" id="birthday" name="birthday">
				</div>
				<div id="To_DDMMYYYY">
					<input type="date" id="birthday" name="birthday">
				</div>
			</form>

		<div id="Group_2_t">
			<svg class="Rectangle_1">
				<rect id="Rectangle_1" rx="0" ry="0" x="0" y="0" width="1920" height="65">
				</rect>
			</svg>
			<div id="Home">
				<a href="/">
					<span>Home</span>
				</a>
			</div>
			<div id="Overview">
				<a href="/">
					<span>Overview</span>
				</a>
			</div>
			<div id="Pre-Pandemic">
				<a href="/">
					<span>Pre-Pandemic</span>
				</a>
			</div>
			<div id="Forecast">
				<span>Forecast</span>
			</div>
			<div id="Life_in_Pandemic">
				<a href="/LifeinPandemic/">
					<span>Life in Pandemic</span>
				</a>
			</div>
			<div id="About_Us">
				<span>About Us</span>
			</div>
		</div>
	</div>
</body>

</html>
